body {
  position: relative;
}
.box {
  background-color: lightgrey;
  border: 1px solid gray;
}

#div1 {
  background-color: lightsalmon;
}

#div2 {
  background-color: rgb(213, 122, 255);
}

#div3 {
  background-color: rgb(201, 80, 110);
}

.divContent {
  height: 800px;
}

.navbar-brand {
  font-size: 1.7rem;
}

#topContainer {
  background: no-repeat center center/cover url(space_image_1.jpg);
  height: 100vh;
  max-width: 100%;
}
#topRow {
  margin: 10rem auto;
}

#topRow h1 {
  color: rgb(239, 233, 241);
  text-align: center;
}
